<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crescent.traveltip.traveltip" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".home"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".settings"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".contacts"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".genInfo"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".signUp"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".country"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>
